# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS filesystem files
.DS_Store

# SQLite database (if you move to migrations later, you can drop this)
calefamily.db
#auto_post_fact.py
#auto_movie_fetch.py
