{% extends "subcale.html" %}

{% block extra_content %}
<meta name="viewport" content="width=device-width, initial-scale=0.3">
<div style="display: flex; justify-content: center; align-items: flex-start; gap: 30px; margin-bottom: 30px;">
  <div class="subcale-grid">
    <img src="{{ url_for('static', filename='images/calespanol.jpg') }}" alt="calespanol image" style="width: 350px; height: auto;">
  <div class = "subcale-text">
    {{ spanish_word | safe }}
  </div>
    <img src="{{ url_for('static', filename='images/word_of_the_day.jpg') }}" alt="Word of the day image" style="width: 350px; height: auto; border-radius: 8px;">
  </div>
</div>
{% endblock %}

{% block body_text %}
<p style="text-align: center; margin: 0 auto 40px auto; max-width: 600px;">
  🌟 Bienvenidos a Calespañol — un rincón dedicado al idioma, la cultura, y la comunidad hispanohablante de CaleFamily.
</p>
{% endblock %}
