{% extends "subcale.html" %}

{% block extra_content %}
<meta name="viewport" content="width=device-width, initial-scale=0.3">
<div style="display: flex; justify-content: center; align-items: flex-start; gap: 30px; margin-bottom: 30px;">
  <div class="subcale-grid">
    <img src="{{ url_for('static', filename='images/calexplore.jpg') }}" alt="calexplore image" style="width: 350px; height: auto;">
  <div class = "subcale-text2">
    {{ featured_fact | safe }}
  </div>
    <img src="{{ url_for('static', filename='images/map_with_flag.png') }}" alt="Map with flag image" style="width: 350px; height: auto; border-radius: 8px;">
  </div>
</div>
{% endblock %}

{% block body_text %}
<p style="text-align: center; margin: 0 auto 40px auto; max-width: 600px;">
  🌍 Welcome to Calexplore — where curiosity leads the way. Share discoveries, travel stories, and wonders of science and nature!
</p>
{% endblock %}
