{% extends "subcale.html" %}

{% block extra_content %}
<meta name="viewport" content="width=device-width, initial-scale=0.3">
<div style="text-align: center;">
  <img src="{{ url_for('static', filename='images/calenrichment.jpg') }}" alt="calenrichment image" style="width: 300px; height: auto;">
</div>
{% endblock %}

{% block body_text %}
<p style="text-align: center; margin: 20px auto; max-width: 600px;">
  ✨ Welcome to Calenrichment — a space to grow, learn new skills, and dive into hobbies that enrich our daily lives.
</p>
{% endblock %}