{% extends "subcale.html" %}

{% block extra_content %}
<div style="text-align: center;">
  <img src="{{ url_for('static', filename='images/calespanol.jpg') }}" alt="calespanol image" style="width: 300px; height: auto; display: block; margin: 0 auto;">
</div>
{% endblock %}

{% block body_text %}
<p style="text-align: center; margin: 20px auto; max-width: 600px;">
  🌟 Bienvenidos a Calespañol — un rincón dedicado al idioma, la cultura, y la comunidad hispanohablante de CaleFamily.
</p>
{% endblock %}