<div>    
{% if session.get('user_id') %}
    <a href="{{ url_for('home') }}" style="background-color: #118ab2; padding: 10px 15px; border-radius: 10px; color: white; text-decoration: none;">🏡 Go Home</a>            <a href="{{ url_for('calengineers') }}" style="background-color: #ef476f; padding: 10px 15px; border-radius: 10px; color: white; text-decoration: none;">🛠️ Calengineers</a>
    <a href="{{ url_for('inbox') }}" style="background-color: #d577ea; padding: 10px 15px; border-radius: 10px; color: white; text-decoration: none; margin-right:8px;">
    📬 Inbox
    {% if unread_count > 0 %}
        <span style="background-color: red; color: white; border-radius: 50%; padding: 2px 6px; font-size: 12px;">
        {{ unread_count }}
        </span>
    {% endif %}
    </a>
    <a href="{{ url_for('profile') }}" style="background-color: #06d6a0; padding: 10px 15px; border-radius: 10px; color: white; text-decoration: none;">
    👤 Profile
    </a>
{% endif %}
</div>


<h1>Your Profile</h1>

<p><b>Username:</b> {{ user[1] }}</p>
<p><b>Profile Picture:</b> {{ user[2] }}</p>
<p><b>Zodiac Sign:</b> {{ user[3] }}</p>
<p><b>Birth Year:</b> {{ user[4] }}</p>
<p><b>Favorite Color:</b> {{ user[5] }}</p>
<p><b>Favorite Animal:</b> {{ user[6] }}</p>
<p><b>Favorite Subject:</b> {{ user[7] }}</p>
<p><b>Favorite Hobby:</b> {{ user[8] }}</p>
<p><b>Favorite Movie:</b> {{ user[9] }}</p>
<p><b>Favorite Book:</b> {{ user[10] }}</p>

<a href="{{ url_for('edit_profile') }}">Edit Profile</a>

